# Large files to ignore
*.pth
training_data/*.pkl
training_data_stats/*.txt
validation_data_stats/*.txt
validation_data/*.pkl
__pycache__/
*.pyc
Iterations
training_results/*
evaluation_results/*

# Model weights and training data
data/models/
data/training_data/
*.pkl

# Log files
logs/
*.log